.Output {
  font-family: Roboto;
  color: #ADBFC7;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  
  line-height: 21px;
  padding-top: 3vh;
  padding: 5%;
}

li {
  font-family: Roboto Mono;
  font-weight: 500;
  font-size: 1.1rem;
  padding-inline: 16px;
  
  color: #FFFFFF;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
}
li div {
  padding: 5px;
  padding-inline: 8px;
  z-index: 2;
}

.string {
  color: #FFE177;
} 
div img {
  position: absolute;
  left: 3vw;
  height: 25px;
}
.number {
  color: #1CDDB4;
}
.boolean {
  color: #B1C7FF;
}
.outher {
  color: rgb(255, 255, 255);
}