.App {
  padding: 4vw;
}
.App-Bg {
  background: url('img/map.png') no-repeat center center fixed;
  position: fixed;
  width: 100vw;
  height: auto;
  min-height: 100%;
  min-width: 1024px;
}

header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 23px;
  background: url('img/logo.png') no-repeat left center ;
  color: #FFFFFF;
  padding: 3%;
  padding-left: 10%;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page {
  margin: auto;
  max-width: 720px;
  min-height: 75vh;
  height: auto;
  position: relative;

  background: #014E6C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-inline: 3vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;  
  }
  .App-Bg {
    left: 50%;
    margin-left: -512px;
    font-size: smaller;
  }
  header {
    background: url('img/logo.png') no-repeat left center ;
    padding: 5%;
    padding-left: 15%;
  }
}